<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/semantic.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <title>Weather</title>
    </head>
    <body>
        {{>header}}
        <h1 class="ui huge header center aligned">{{title}}</h1>
        <div class="ui container">
            <table id="data-table" class="ui celled table">
                
            </table>
        </div>
        <script src="/js/table.js">
             
        </script>
    </body>
</html>